snippet acm
// a0919610611/fuyu0425/twleo
#include<bits/stdc++.h>
using namespace std;
#define int long long 
#undef int
int main()
{
#define int long long 
	
	return 0;
}
endsnippet
snippet acmfile
// a0919610611/fuyu0425/twleo
#include<bits/stdc++.h>
using namespace std;
#define int long long 
#undef int
int main()
{
#define int long long 
#ifndef fuyu0425
	freopen("","r",stdin);
	freopen("","w",stdout);
#endif
	
	return 0;
}
endsnippet
